{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4">Mes comptes :</h2>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            <div class="row">
            {% for account in accounts %}
                <article class="col-lg-3 m-auto my-5 text-center">
                    <div class="card text-center">
                        <h5 class="card-header">{{account.type}} <br/>
                            N°{{account.number}}</h5>
                        <div class="card-body">
                            <h6 class="card-title border border-1 col-lg-6 m-auto">Solde : {{account.amount}} €</h6>
                            <!-- <p class="card-text my-3">Dernière opération :</p> -->
                            
                            <a href="{{ path('single', {id:account.id}) }}" class="btn bgColorPrim text-white my-4">Accedez au compte</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <div>
    </section>
</main>
{% endblock %}
