{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4">Faire une transaction</h2>
            <div class="row w-50">
                <form method="post">
                <label for="account">Choisir un compte</label>
                <select name="account" id="account" class="form-select my-">
                    {% for account in accounts %}
                    <option value="{{account.id}}">{{ account.type}} - {{account.number}} - {{account.amount}} €</option>
                    {% endfor %}
                </select>
                {{form(form)}}
                </form>
            <div>
    </section>
</main>
{% endblock %}
